// text
$colorTextWhite: #ffffff;
$colorTextWhiteLight: #fafafa;
$colorTextBlack: #000000;
$colorTextDark: #292929;
$colorTextDarkm: #b2b2b2;
$colorTextDarkl: #545454;
$colorTextDarkxl: #4c4c4c;
$colorTextGrey: #cdcdcd;
$colorTextPrimary: #f1cdb3;
$colorTextPrimaryLight: #fddcc4;

//background
$colorBgPrimary: #f1cdb3;
$colorBgPrimaryLight: #fddcc4;
$colorBgWhite: #ffffff;
$colorBgWhiteLight: #fafafa;
$colorBgGreyLight: #f6f6f6;
$colorBgBlack: #000000;
$colorBgDark: #292929;
