// text size
$text44: 4.4rem;
$text35: 3.5rem;
$text32: 3.2rem;
$text25: 2.5rem;
$text20: 2rem;
$text17: 1.7rem;
$text15: 1.5rem;
$text13: 1.3rem;
$text12: 1.2rem;

//line-height
$line110: 110%;
$line115: 115%;
$line130: 130%;
$line160: 160%;
