@mixin titleDark {
    font-size: $text35;
    line-height: 130%;
    color: $colorTextDarkl;
}

@mixin titleWhite {
    @include titleDark;
    color: $colorTextWhite;
}

@mixin fontProps($size, $line, $color) {
    font-size: $size;
    line-height: $line;
    color: $color;
}

@mixin font($size: $text15, $line: $line130, $color: $colorTextDarkl) {
    @include fontProps($size, $line, $color);
}

@mixin flex(
    $direction: row,
    $content: space-between,
    $align: center,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonPrimary {
    @include font($size: $text17, $line: $line130, $color: $colorTextDark);
    letter-spacing: 0.06em;
    @include flex($content: center);

    width: 20.7rem;
    height: 5.2rem;

    background: $colorBgPrimary;
    border-radius: 10rem;

    border: 0;

    cursor: pointer;
}

@mixin buttonWhite {
    @include buttonPrimary;
    background: $colorBgWhiteLight;
    border: 2px solid $colorBgPrimary;
    box-sizing: border-box;
}

@mixin buttonHover {
    @include buttonPrimary;

    background: $colorBgPrimaryLight;
}
