@import "../style/common/fonts";
@import "../style/common/colors";
@import "../style/common/constants";
@import "../style/common/mixins";

:root {
    font-size: 0.625em;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: visible;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 120rem;
    @include flex;
    padding-top: 8rem;
    padding-bottom: 10rem;
    width: 100%;
}

@media (max-width: 1279px) {
    .container {
        max-width: calc(100% - 6rem);
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
        max-width: calc(100% - 2rem);
    }
}

@import "../style/component/petsHeader";
@import "../style/component/petsLookingForAHouse";
@import "../style/component/footer";
@import "../style/component/popup";

.hidden {
    overflow: hidden;
}

.show {
    display: block;
}

.hide {
    display: none;
}
