.aboutTheShelter {
    background: $colorBgWhite;
    & .container {
        justify-content: center;
        gap: 12rem;
        & .aboutTheShelter-text {
            max-width: 43rem;
            & .title {
                @include titleDark;
                letter-spacing: 0.06em;
            }
            & .text {
                padding-top: 2.5rem;
                font-family: Arial;
                @include font($line: $line160);
            }
        }
    }
}

@media (max-width: 1279px) {
    .aboutTheShelter {
        & .container {
            flex-direction: column-reverse;
            gap: 8rem;
        }
    }
}

@media (max-width: 767px) {
    .aboutTheShelter {
        // display: none;
        & .container {
            gap: 4.2rem;
            & .aboutTheShelter-image {
                width: 26rem;
                height: 35.36rem;
                & img {
                    width: 100%;
                }
            }
            & .aboutTheShelter-text {
                text-align: justify;
                max-width: calc(100% - 3rem);
                & .title {
                    text-align: center;
                    font-size: $text25;
                }
                & .text:last-child {
                    padding-top: 2rem;
                }
            }
        }
    }
}
