.helpOurShelter {
    background: $colorBgWhite;
    & .container {
        flex-direction: column;
        gap: 6rem;
        & .helpOurShelter-text {
            @include titleDark;
            letter-spacing: 0.06em;
            text-align: center;
        }
        & .helpOurShelter-cards {
            width: calc(100% - 17.4rem);
            @include flex($wrap: wrap, $content: center);
            gap: 5.5rem 11.9rem;
            & .card {
                @include flex($direction: column, $content: center);
                gap: 3rem;
                & p {
                    @include font($size: $text20, $line: $line115);
                    letter-spacing: 0.06em;
                }
            }
        }
    }
}

@media (max-width: 1279px) {
    .helpOurShelter {
        & .container {
            & .helpOurShelter-cards {
                width: calc(100% - 7.8rem);
                gap: 5.5rem 6rem;
                & .card {
                    width: 17rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .helpOurShelter {
        & .container {
            gap: 4.2rem;
            & .helpOurShelter-text {
                font-size: $text25;
            }
            & .helpOurShelter-cards {
                justify-content: space-between;
                width: calc(100% - 1rem);
                gap: 3rem;
                & .card {
                    gap: 2rem;
                    width: 13rem;
                    & img {
                        width: 5rem;
                    }
                    & p {
                        font-size: $text15;
                        line-height: $line110;
                    }
                }
            }
        }
    }
}
