.lookingForAHouse {
    background: $colorBgGreyLight;
    & .container {
        flex-direction: column;
        justify-content: center;
        gap: 6rem;
        & .lookingForAHouse-text {
            text-align: center;
            @include titleDark;
            letter-spacing: 0.06em;
        }
        & .lookingForAHouse-slider {
            @include flexSet($content: center);
            gap: 5.3rem;
            & button {
                @include buttonWhite;
                width: 5.2rem;
                &:hover {
                    @include buttonHover;
                    width: 5.2rem;
                }
            }
            & .cards {
                display: flex;
                gap: 9rem;
                & .card {
                    padding-bottom: 3rem;
                    @include flexSet($direction: column);
                    gap: 3rem;
                    background: $colorBgWhiteLight;
                    border-radius: 0.9rem;
                    &:hover {
                        cursor: pointer;
                        background: $colorBgWhite;
                        box-shadow: 0 0.2rem 3.5rem 1.4rem
                            rgba(13, 13, 13, 0.04);
                    }
                    & p {
                        @include font($size: $text20, $line: 2.3rem);
                        letter-spacing: 0.06em;
                    }
                    & button {
                        @include buttonWhite;
                        width: 18.7rem;
                        &:hover {
                            @include buttonHover;
                            width: 18.7rem;
                        }
                    }
                }
            }
        }
        & .lookingForAHouse-btn {
            @include buttonPrimary;
            width: 26.1rem;
            &:hover {
                @include buttonHover;
                width: 26.1rem;
            }
        }
    }
}

@media (max-width: 1279px) {
    .lookingForAHouse {
        & .container {
            & .lookingForAHouse-slider {
                gap: 1.2rem;
                & .cards {
                    gap: 4rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .lookingForAHouse {
        // display: none;
        & .container {
            gap: 4.2rem;
            & .lookingForAHouse-text {
                font-size: $text25;
                letter-spacing: 0.12rem;
            }
            & .lookingForAHouse-slider {
                display: grid;
                grid-template-columns: 4.2rem 5.2rem 8rem 5.2rem 4.2rem;
                grid-template-rows: 43.5rem 5.2rem;
                gap: 2rem 0;

                & .btn-left {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
                & .cards {
                    grid-column: 1 / 6;
                    grid-row: 1 / 2;
                }
                & .btn-right {
                    grid-column: 4 / 5;
                    grid-row: 2 / 3;
                }
            }
        }
    }
}
