.needAHouse {
    padding-top: 18rem;
    background: url(./../../assets/img/noise_transparent@2x.png),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
        #211f20;

    & .container {
        padding: 0;
        gap: 4.2rem;
        & .needAHouse-text {
            @include flex($direction: column, $align: flex-start);
            gap: 4.2rem;
            padding: 16.3rem 0 24.3rem 0;
            & .title {
                @include titleWhite;
                font-size: $text44;
            }
            & .text {
                font-family: Arial;
                @include font(
                    $size: $text15,
                    $line: $line160,
                    $color: $colorTextGrey
                );
            }
            & .btn {
                display: block;
                text-decoration: none;
                @include buttonPrimary;
                &:hover {
                    @include buttonHover;
                }
            }
        }

        & .needAHouse-image {
            width: 69.8rem;
            height: 72.8rem;
            & img {
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 1279px) {
    .needAHouse {
        padding-top: 15rem;
        & .container {
            max-width: calc(100% - 20rem);
            flex-direction: column;
            justify-content: center;
            gap: 10rem;
            & .needAHouse-text {
                padding: 0;
                max-width: calc(100% - 10.9rem);
                & .btn {
                    margin: 0 auto;
                }
            }
            & .needAHouse-image {
                margin-left: 14.9rem;
                width: 56.9rem;
                height: 59.3rem;
                & img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .needAHouse {
        & .container {
            max-width: calc(100% - 2rem);
            gap: 10.5rem;
            & .needAHouse-text {
                align-items: center;
                text-align: center;
                max-width: none;
                & .title {
                    font-size: $text25;
                    letter-spacing: 0.13rem;
                }
            }

            & .needAHouse-image {
                margin-left: 4rem;
                width: 26rem;
                height: 27rem;
            }
        }
    }
}
