@import "./../component/header";

header {
    position: sticky;
    top: 0;
    z-index: 100503;
    background-color: $colorBgWhite;
    & .container {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;

        & .header-logo {
            & .title {
                color: $colorTextDarkl;
            }
            & .subtitle {
                color: $colorTextDark;
            }
        }
        & nav ul {
            gap: 3.5rem;
            & li a {
                font-size: 1.55rem;
                color: $colorTextDarkl;
                &:hover {
                    color: $colorTextDark;
                    border-bottom: 0.3rem solid $colorBgPrimary;
                }
                &.active-link {
                    color: $colorTextDark;
                }
            }
        }
    }
}

@media (max-width: 1279px) {
    header {
        & .container {
            width: calc(100% - 6rem);
            justify-content: space-between;
        }
    }
}

@media (max-width: 767px) {
    header {
        & .container {
            width: calc(100% - 2rem);
            padding-bottom: 9rem;
            & .header-burger {
                & span {
                    background-color: $colorBgBlack;
                }
                &:after,
                &:before {
                    background-color: $colorBgBlack;
                }
            }
            & .rotate-burger {
                & span {
                    background-color: $colorTextWhiteLight;
                }
                &:after,
                &:before {
                    background-color: $colorTextWhiteLight;
                }
            }
            & nav ul {
                padding-top: 25rem;
                flex-direction: column;
                gap: 4rem;

                & li a {
                    color: $colorTextGrey;
                    font-size: $text32;
                    &:hover {
                        color: $colorTextPrimaryLight;
                        border-bottom: 0.3rem solid $colorBgPrimary;
                    }
                    &.active-link {
                        color: $colorTextWhiteLight;
                        border-bottom: 0.3rem solid $colorBgPrimary;
                    }
                }
            }
        }
    }
}
