.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    & .popup-close {
        @include flexSet($content: center);
        position: absolute;
        right: -4.2rem;
        top: -5.2rem;
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 10rem;
        border: 0.2rem solid $colorTextPrimary;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    & .popup {
        @include flexSet($align: flex-start);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90rem;
        height: 50rem;
        background: $colorTextWhiteLight;
        border-radius: 0.9rem;
        z-index: 10065;
        & .popup-image img {
            width: 50rem;
            height: 50rem;
            border-radius: 0.9rem;
        }

        & .popup-text {
            width: 37rem;
            padding-right: 2rem;
            & .title {
                padding-top: 5rem;
                @include titleDark;
                color: $colorTextBlack;
                letter-spacing: 0.06em;
            }
            & .description {
                padding-top: 1rem;
                @include flexSet($direction: column, $align: flex-start);
                gap: 4rem;
                & .type {
                    @include font(
                        $size: $text20,
                        $line: $line115,
                        $color: $colorTextBlack
                    );
                    letter-spacing: 0.06em;
                }
                & .excerpt {
                    @include font($line: $line110, $color: $colorTextBlack);
                    letter-spacing: 0.06em;
                    text-align: left;
                }
                & .specification li {
                    list-style: none;
                    @include font($line: $line110, $color: $colorTextBlack);
                    letter-spacing: 0.06em;
                    padding-top: 1rem;
                    &::before {
                        content: "•";
                        color: $colorTextPrimary;
                        display: inline-block;
                        width: 1.5rem;
                    }
                    & span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    &.show {
        display: block;
    }

    &.hide {
        display: none;
    }
}

@media (max-width: 1279px) {
    .popup-bg {
        & .popup {
            width: 63rem;
            height: 35rem;
            & .popup-image img {
                width: 35rem;
                height: 35rem;
            }
            & .popup-text {
                width: 27rem;
                padding-right: 0.9rem;
                & .title {
                    padding-top: 1rem;
                }
                & .description {
                    gap: 2rem;
                    & .excerpt {
                        font-size: $text13;
                    }
                    & .specification li {
                        padding-top: 0.5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .popup-bg {
        & .popup-close {
            right: -2.7rem;
            top: -5.2rem;
        }
        & .popup {
            width: 24rem;
            height: min-content;
            padding: 1rem;
            & .popup-image {
                display: none;
            }
            & .popup-text {
                padding-right: 0;
                & .title {
                    text-align: center;
                    padding: 0;
                }
                & .description {
                    & .type {
                        text-align: center;
                        margin: 0 auto;
                    }
                    & .excerpt {
                        text-align: justify;
                    }
                }
            }
        }
    }
}
