* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg, #232323, #4a4a4a); */
}

.keyboard-input {
    display: block;
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    font-size: 20px;
    height: calc(100vh - 40%);
    min-height: 300px;
    border-radius: 10px;
    background: #fff;
}

.keyboard {
    margin: 0 auto;
    width: 90%;
    padding: 5px 0;
    user-select: none;
    border: 2px solid rgba(235, 232, 232, 0.7);
    border-radius: 10px;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    position: relative;
    display: inline-flex;
    padding: 20px 0 0 25px;
    height: 60px;
    width: 6%;
    margin: 3px;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 8px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.keyboard__key::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: 8px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
        10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
}

span {
    position: relative;
}

span::after {
    content: attr(data-key);
    position: absolute;
    left: -15px;
    top: -15px;
}

.keyboard__key--normal {
    padding: 0;
    justify-content: center;
    align-items: center;
}

.keyboard__key--m {
    min-width: 6%;
}

.keyboard__key--xl {
    min-width: 12.5%;
}

.keyboard__key--xxl {
    min-width: 44.6%;
}

.keyboard__key--active {
    transform: scale(0.9);
}
