@charset "UTF-8";
@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/ArialMT.eot");
  src: url("/assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ArialMT.woff2") format("woff2"), url("/assets/fonts/ArialMT.woff") format("woff"), url("/assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("/assets/fonts/Georgia.eot");
  src: url("/assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Georgia.woff2") format("woff2"), url("/assets/fonts/Georgia.woff") format("woff"), url("/assets/fonts/Georgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 0.625em;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Georgia", sans-serif;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: visible;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  padding-bottom: 10rem;
  width: 100%;
}

@media (max-width: 1279px) {
  .container {
    max-width: calc(100% - 6rem);
  }
}

@media (max-width: 767px) {
  .container {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    max-width: calc(100% - 2rem);
  }
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: absolute;
}

header .container .header-logo {
  display: block;
  text-decoration: none;
}

header .container .header-logo .title {
  text-decoration: none;
  font-size: 3.2rem;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

header .container .header-logo .subtitle {
  padding-top: 1rem;
  padding-left: 0.4rem;
  font-family: Arial;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #ffffff;
  letter-spacing: 0.1em;
}

header .container .header-logo:hover {
  cursor: pointer;
}

header .container .header-burger {
  display: none;
}

header .container .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10049;
  background: rgba(41, 41, 41, 0.6);
}

header .container .show {
  display: block;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
}

header .container nav ul li {
  list-style-type: none;
}

header .container nav ul li a {
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
}

header .container nav ul li a:hover {
  color: #fafafa;
  border-bottom: 0.3rem solid #f1cdb3;
}

header .container nav ul li a.active-link {
  color: #fafafa;
  border-bottom: 0.3rem solid #f1cdb3;
}

@media (max-width: 1279px) {
  header .container {
    padding-top: 3rem;
  }
}

@media (max-width: 767px) {
  header .container .header-logo {
    position: absolute;
    top: 3rem;
    right: 11.4rem;
    z-index: 100501;
  }
  header .container .header-burger {
    top: 4.9rem;
    right: 4.3rem;
    display: block;
    width: 3rem;
    height: 2.2rem;
    position: absolute;
    z-index: 100500;
  }
  header .container .header-burger span {
    position: absolute;
    top: 1rem;
    background-color: #f1cdb3;
    width: 100%;
    height: 0.2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .container .header-burger:after, header .container .header-burger:before {
    content: "";
    position: absolute;
    background-color: #f1cdb3;
    width: 100%;
    height: 0.2rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .container .header-burger::after {
    top: 2rem;
  }
  header .container .rotate-burger {
    top: 4.5rem;
    height: 3rem;
  }
  header .container .rotate-burger span {
    top: 1rem;
    left: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: #f1cdb3;
  }
  header .container .rotate-burger:after, header .container .rotate-burger:before {
    top: 1rem;
    left: -1rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: #f1cdb3;
  }
  header .container .rotate-burger::after {
    top: 1rem;
    left: 1rem;
  }
  header .container nav {
    background-color: #292929;
    position: fixed;
    right: -32rem;
    top: 0;
    width: 32rem;
    height: 100vh;
    z-index: 10050;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  header .container nav ul {
    padding-top: 25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  header .container nav ul li a {
    font-size: 3.2rem;
  }
  header .container .active-menu {
    right: 0;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100503;
  background-color: #ffffff;
}

header .container {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

header .container .header-logo {
  display: block;
  text-decoration: none;
}

header .container .header-logo .title {
  color: #545454;
}

header .container .header-logo .subtitle {
  color: #292929;
}

header .container .header-logo:hover {
  cursor: pointer;
}

header .container nav ul {
  gap: 3.5rem;
}

header .container nav ul li a {
  font-size: 1.55rem;
  color: #545454;
}

header .container nav ul li a:hover {
  color: #292929;
  border-bottom: 0.3rem solid #f1cdb3;
}

header .container nav ul li a.active-link {
  color: #292929;
}

@media (max-width: 1279px) {
  header .container {
    width: calc(100% - 6rem);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  header .container {
    width: calc(100% - 2rem);
    padding-bottom: 9rem;
  }
  header .container .header-burger span {
    background-color: #000000;
  }
  header .container .header-burger:after, header .container .header-burger:before {
    background-color: #000000;
  }
  header .container .rotate-burger span {
    background-color: #fafafa;
  }
  header .container .rotate-burger:after, header .container .rotate-burger:before {
    background-color: #fafafa;
  }
  header .container nav ul {
    padding-top: 25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  header .container nav ul li a {
    color: #cdcdcd;
    font-size: 3.2rem;
  }
  header .container nav ul li a:hover {
    color: #fddcc4;
    border-bottom: 0.3rem solid #f1cdb3;
  }
  header .container nav ul li a.active-link {
    color: #fafafa;
    border-bottom: 0.3rem solid #f1cdb3;
  }
}

.lookingForAHouse {
  background: #f6f6f6;
}

.lookingForAHouse .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
}

.lookingForAHouse .container .lookingForAHouse-text {
  text-align: center;
  font-size: 3.5rem;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

.lookingForAHouse .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.lookingForAHouse .container .cards .card {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  background: #fafafa;
  border-radius: 0.9rem;
}

.lookingForAHouse .container .cards .card:hover {
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
          box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
}

.lookingForAHouse .container .cards .card:hover button {
  font-size: 1.7rem;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.7rem;
  height: 5.2rem;
  background: #f1cdb3;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
  background: #fddcc4;
  width: 18.7rem;
}

.lookingForAHouse .container .cards .card p {
  font-size: 2rem;
  line-height: 2.3rem;
  color: #545454;
  letter-spacing: 0.06em;
}

.lookingForAHouse .container .cards .card button {
  font-size: 1.7rem;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.7rem;
  height: 5.2rem;
  background: #f1cdb3;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
  background: #fafafa;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18.7rem;
}

.lookingForAHouse .container .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.lookingForAHouse .container .pagination button {
  font-size: 1.7rem;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.7rem;
  height: 5.2rem;
  background: #f1cdb3;
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
  background: #fafafa;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  line-height: 115%;
  width: 5.2rem;
}

.lookingForAHouse .container .pagination button:hover {
  background: #fddcc4;
}

.lookingForAHouse .container .pagination button:disabled {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  cursor: not-allowed;
}

.lookingForAHouse .container .pagination button:disabled:hover {
  background: none;
}

.lookingForAHouse .container .pagination button[data-btn-number] {
  background: #f1cdb3;
  cursor: auto;
}

@media (max-width: 1279px) {
  .lookingForAHouse .container {
    width: calc(100% - 18.8rem);
    gap: 3rem;
    padding-bottom: 7.6rem;
  }
  .lookingForAHouse .container .pagination {
    padding-top: 1rem;
  }
}

@media (max-width: 767px) {
  .lookingForAHouse .container {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    width: calc(100% - 2rem);
    gap: 4.2rem;
  }
  .lookingForAHouse .container .lookingForAHouse-text {
    font-size: 2.5rem;
  }
  .lookingForAHouse .container .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 3rem);
  }
  .lookingForAHouse .container .pagination {
    gap: 1rem;
    padding-top: 0;
  }
}

footer {
  background: url(./../../assets/img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

footer .container {
  padding-top: 4rem;
  padding-bottom: 0;
  gap: 15.5rem;
}

footer .container .footer-text {
  margin-top: -4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14rem;
}

footer .container .footer-text .footer-contacts,
footer .container .footer-text .footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
}

footer .container .footer-text .footer-address {
  gap: 3.3rem;
}

footer .container .footer-text .footer-contacts .title,
footer .container .footer-text .footer-address .title {
  font-size: 3.5rem;
  line-height: 130%;
  color: #545454;
  color: #ffffff;
  letter-spacing: 0.06em;
  line-height: 130%;
}

footer .container .footer-text .footer-contacts .contact,
footer .container .footer-text .footer-address .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

footer .container .footer-text .footer-contacts .contact a,
footer .container .footer-text .footer-address .location a {
  text-decoration: none;
}

footer .container .footer-text .footer-contacts .contact p,
footer .container .footer-text .footer-address .location p {
  font-size: 2rem;
  line-height: 115%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
}

footer .container .footer-image {
  width: 30rem;
}

footer .container .footer-image img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1279px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 3.4rem 0;
    gap: 6.5rem;
  }
  footer .container .footer-text {
    margin: 0;
    gap: 4rem;
  }
}

@media (max-width: 767px) {
  footer .container {
    padding: 3rem 0 0;
    gap: 4rem;
  }
  footer .container .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .footer-text .footer-contacts .title,
  footer .container .footer-text .footer-address .title {
    text-align: center;
    font-size: 2.5rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  footer .container .footer-text .footer-contacts .contact {
    margin: 0 auto;
  }
  footer .container .footer-text .footer-address .location {
    margin-top: 0.5rem;
  }
  footer .container .footer-image {
    width: 26rem;
  }
  footer .container .footer-image img {
    width: 100%;
  }
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
}

.popup-bg .popup-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -4.2rem;
  top: -5.2rem;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 10rem;
  border: 0.2rem solid #f1cdb3;
}

.popup-bg .popup-close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup-bg .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90rem;
  height: 50rem;
  background: #fafafa;
  border-radius: 0.9rem;
  z-index: 10065;
}

.popup-bg .popup .popup-image img {
  width: 50rem;
  height: 50rem;
  border-radius: 0.9rem;
}

.popup-bg .popup .popup-text {
  width: 37rem;
  padding-right: 2rem;
}

.popup-bg .popup .popup-text .title {
  padding-top: 5rem;
  font-size: 3.5rem;
  line-height: 130%;
  color: #545454;
  color: #000000;
  letter-spacing: 0.06em;
}

.popup-bg .popup .popup-text .description {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
}

.popup-bg .popup .popup-text .description .type {
  font-size: 2rem;
  line-height: 115%;
  color: #000000;
  letter-spacing: 0.06em;
}

.popup-bg .popup .popup-text .description .excerpt {
  font-size: 1.5rem;
  line-height: 110%;
  color: #000000;
  letter-spacing: 0.06em;
  text-align: left;
}

.popup-bg .popup .popup-text .description .specification li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 110%;
  color: #000000;
  letter-spacing: 0.06em;
  padding-top: 1rem;
}

.popup-bg .popup .popup-text .description .specification li::before {
  content: "•";
  color: #f1cdb3;
  display: inline-block;
  width: 1.5rem;
}

.popup-bg .popup .popup-text .description .specification li span {
  font-weight: bold;
}

.popup-bg.show {
  display: block;
}

.popup-bg.hide {
  display: none;
}

@media (max-width: 1279px) {
  .popup-bg .popup {
    width: 63rem;
    height: 35rem;
  }
  .popup-bg .popup .popup-image img {
    width: 35rem;
    height: 35rem;
  }
  .popup-bg .popup .popup-text {
    width: 27rem;
    padding-right: 0.9rem;
  }
  .popup-bg .popup .popup-text .title {
    padding-top: 1rem;
  }
  .popup-bg .popup .popup-text .description {
    gap: 2rem;
  }
  .popup-bg .popup .popup-text .description .excerpt {
    font-size: 1.3rem;
  }
  .popup-bg .popup .popup-text .description .specification li {
    padding-top: 0.5rem;
  }
}

@media (max-width: 767px) {
  .popup-bg .popup-close {
    right: -2.7rem;
    top: -5.2rem;
  }
  .popup-bg .popup {
    width: 24rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 1rem;
  }
  .popup-bg .popup .popup-image {
    display: none;
  }
  .popup-bg .popup .popup-text {
    padding-right: 0;
  }
  .popup-bg .popup .popup-text .title {
    text-align: center;
    padding: 0;
  }
  .popup-bg .popup .popup-text .description .type {
    text-align: center;
    margin: 0 auto;
  }
  .popup-bg .popup .popup-text .description .excerpt {
    text-align: justify;
  }
}

.hidden {
  overflow: hidden;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=pets.css.map */